* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #555;
}


/* Topbar Start */
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    background-color: #ebebeb;
    color: #555;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    overflow: hidden;
    /* overflow-x: hidden; */
    /* border: 1px red solid; */
}

.tblocation {

    display: flex;
    align-items: center;
    margin-left: 150px;
    /* border: 1px red solid; */

}

.tblocation i {
    color: #555;
}

.tbsocial {

    margin-right: 150px;
    /* border: 1px red solid; */
}

.tbsocial ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */

}

.tbsocial li {
    padding: 5px 15px;
    /* border: 1px red solid; */

}

.tbsocial i {
    color: rgb(43, 43, 43);
}

/* Topbar MediaQuery */
@media screen and (min-width:320px) and (max-width:480px) {


    .container1 {
        /* flex-direction: column; */
        justify-content: center;
        height: 70px;
        padding: 10px;
        margin: 0px;
        /* border: 1px red solid; */

    }

    .tblocation {

        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        margin: 0px;

    }

    .tbsocial {

        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        margin-right: 0px;

    }



}


/* Topbar Ends */

/* Header Start */

/* Quotebar Start */

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #555;
    width: 100%;
    overflow: hidden;
    padding: 25px 0px;
    /* border: 1px red solid; */
}

.logo img {
    width: auto;
    height: 35px;
}

.quotetabs ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotetabs li {
    display: flex;
    align-items: center;
    padding: 5px 20px;

    /* border: 1px red solid; */
}

.quotetabs li:nth-child(2) {
    border-left: 1px solid rgb(193, 193, 193);
}

.quotetabs li:nth-child(3) {
    border-left: 1px solid rgb(193, 193, 193);
}

.quotetabs p {
    padding: 5px;
}

.quotetabs h4 {
    color: rgb(43, 43, 43);
    padding: 5px;
}

.qbgetquote {
    text-decoration: none;
    color: #fff;
    padding: 5px;


}

.qbgetquote a {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    background: #ffb600;
}

.qbgetquote:hover a {
    background: #272d33;
    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;
}

/* Quotebar MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {

    .container2 {
        height: 350px;
        flex-direction: column;
        /* padding: 10px; */
        margin: 0px;
        /* border: 1px red solid; */
    }

    .quotetabs ul {

        flex-direction: column;
    }

    .quotetabs p,
    h4 {
        text-align: center;
    }

    .quotetabs li:nth-child(2) {
        border-left: 0px
    }

    .quotetabs li:nth-child(3) {
        border-left: 0px
    }

    .qbgetquote {
        padding-top: 20px;
    }




}

/* Quotebar End */

/* Navbar Start */

.container3 {
    position: relative;
}

.navarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px red solid; */
    width: 100%;
    background: #23282d;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;


}



.nav {

    width: 60%;
    display: flex;
    justify-content: center;
    /* border: 1px red solid; */
    padding: 5px;
    /* overflow: hidden; */


}


.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    padding: 15px 20px;
}

.nav a,
i {
    text-decoration: none;
    color: #fff;
}

.hometab {
    position: relative;
}



.dropdown li:first-child {
    border-bottom: 1px solid rgb(193, 193, 193);
}



.hometab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.companytab {
    position: relative;
}


.companytab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.projecttab {
    position: relative;
}




.projecttab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;

}

.servicestab {
    position: relative;
}



.servicestab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.featuretab {
    position: relative;
}


.featuretab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.ddparent {
    position: relative;
}

.ddchild {
    text-align: center;
    color: #23282d;
    background-color: #fff;
    flex-direction: column;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 200px;
    border: 0px;
    border-top: 2px solid #ffb600;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    z-index: 6;
    height: auto;
    visibility: hidden;
}

.ddparent:hover .ddchild {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.newstab {
    position: relative;
}

.dropdown {
    text-align: center;
    color: #23282d;
    background-color: #fff;
    flex-direction: column;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 45px;
    left: 5px;
    border: 0px;
    border-top: 2px solid #ffb600;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    z-index: 5;
    height: auto;
    visibility: hidden;
}

.dropdown li {
    border-bottom: 1px solid rgb(193, 193, 193);
}

.dropdown a {
    color: #23282d;
    font-size: 12px;

}

.newstab:hover .dropdown {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

/* .dropdown li:hover a {
    color: #ffb600;
    transition: 0.3s;
} */

.mainnav li:hover>a {
    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;
}

.mainnav li:hover i {
    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;
}

.ddchild>li:hover a {
    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;
}

.hometab>a,
.hometab i {
    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;
}


.nsearch {

    padding: 15px;
    margin-left: 0px;
    /* width: 10%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.nsearchbar {
    text-align: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 250px;
    z-index: 6;
    margin-top: 0;
    /* border: 1px red solid; */
}

.nsearchbar input {
    background-color: #222;
    border: none;
    color: #fff;
    width: 220px;
    height: 40px;
    padding: 0 12px;
}

.nsearch:hover .nsearchbar {
    visibility: visible;
    cursor: pointer;
    transition: 0.3s;
}

.nsearchbar input:focus {
    box-shadow: none;
    color: #fff;
    outline: 0;
    background: #222;
    border: 1px solid #ffb600;
}

/* Navbar MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container3 {
        /* width: 100%; */
        /* border: 1px red solid; */
    }

    .navarea {
        /* height: 4auto00px; */
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        /* width: 100%; */
        /* overflow-x: hidden; */
        /* border: 1px red solid; */
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .nsearchbar {
        align-items: center;
        left: 0;
        bottom: auto;
        /* top: auto; */
    }

    .dropdown {
        position: absolute;
        left: -40px;
        z-index: 5;
    }


    .ddchild {
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 20;
    }

    .nsearch {
        position: relative;

        /* border: 1px red solid; */
    }

    .nsearchbar {
        position: absolute;
        left: -110px;

        top: 43px;
        z-index: 5;
    }
}

/* Navbar End */

/* Header End */

/* Banner Start */

.container4 {
    padding: 0;
    margin: 0;
    height: 300px;
    background: url("img/banner1.jpg");
    position: relative;
    color: #fff;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btitle {
    text-align: center;
    /* border: 1px red solid; */
}

.btitle h1 {

    color: #fff;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.bsubtitle {
    /* border: 1px red solid; */
    text-align: center;
}

.bsubtitle ul {
    padding: 0;
    /* background: none; */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.bsubtitle li {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
}

.bsubtitle a {
    /* border: 1px red solid; */
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.bsubtitle i {
    /* border: 1px red solid; */
    color: #fff;
    font-size: 12px;
    /* padding: 10px; */
}

/* Banner End */

/* Newsbar Start */

.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /* border: 1px red solid; */
    align-items: center;
    /* margin: 50px 0; */

}

.nbtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /* border: 1px red solid; */
    align-items: center;
    margin: 20px 0;
}

.nbtitle {
    margin: 50px 0px;
    text-align: center;
    margin-bottom: 60px;

}

.nbtitle h2 {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #212121;
}

.nbtitle h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    color: #212121;
    text-transform: uppercase;
}

.nbgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    width: 100%;
}


.nbcard {
    width: 20%;
    height: 160px;
    margin: 10px 20px;
    background: #252525;
    color: #fff;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    /* border: 1px red solid; */
}


.nbcard i {
    font-size: 24px;
    color: #fff;
    background: #ffb600;
    text-align: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 2px;
    font-weight: 900;
    margin-right: 0;
    margin-bottom: 1 0px;
    /* border: 1px red solid; */
    position: relative;
    float: none;
}

.nbdetails {
    margin: 20px 0px;
    /* border: 1px red solid; */
}


.nbdetails h4 {
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.nbdetails p {
    /* border: 1px red solid; */
    line-height: 26px;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    /* text-transform: uppercase; */
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 0px;
}

/* Newsbar MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container5 {

        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .nbtitle {
        margin: 30px 10px;
        width: 60%;

    }

    .nbtitle h2 {
        font-size: 14px;
        margin: 0;
    }

    .nbtitle h3 {
        font-size: 26px;
        margin: 0;

    }

    .nbgrid {
        flex-direction: column;
        align-items: center;
    }

    .nbcard {
        width: 70%;
        margin: 0;

    }


    .nbdetails {
        margin: 10px 0px;

        /* border: 1px red solid; */
    }

    .nbdetails h4 {
        text-align: center;
        margin-bottom: 10px;
        padding: 0px;

    }

    .nbdetails p {
        /* border: 1px red solid; */

        margin-bottom: 20px;
        padding-left: 0px;
    }
}

/* Newsbar End */

/* Maparea Start */

.container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
}

.container6 iframe {
    width: 78%;
    height: 500px;
}

/* Maparea MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container6 {
        width: 99%;
        /* border: 1px red solid; */

    }


    .container6 iframe {
        width: 89%;
        height: 300px;
        margin: 0;
        /* border: 1px red solid; */
    }

}

/* Maparea End */

/* Contactform Start */

.container7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    /* width: 100%; */
    /* border: 1px red solid; */
}

.cformtitle {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border: 1px red solid; */
    padding: 0 160px;
}

.cformtitle h3 {
    font-size: 24px;
    margin: 0 0 40px;
    color: #212121;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.cform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0px 130px; */
}

.cformrow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px red solid; */
    width: 100%;
}

.cformcolumn {
    width: 25%;
    margin: 10px 10px;
    /* border: 1px red solid; */
}

.cformcolumn label {
    font-weight: 400;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    /* border: 1px red solid; */
}


.cformcolumn input {
    box-shadow: none;
    border: 1px solid #dadada;
    padding: 0 10px;
    height: 44px;
    background: none;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.cformcolumn input:focus {
    border: 1px solid #ffb600;
    outline: 0;
}

.cformrow2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px red solid; */
    width: 100%;
    margin: 0;
}

.cformrow2 label {
    font-weight: 400;
    font-size: 15px;
    display: block;
    width: 78%;
    /* margin: 0 35px; */
    margin-bottom: 10px;
    text-align: start;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.cformrow2 textarea {
    box-shadow: none;
    border: 1px solid #dadada;
    padding: 10px 10px;
    height: 44px;
    background: none;
    height: auto;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
    width: 76.5%;
    margin: 0 35px;
    /* border: 1px red solid; */
}

.cformrow2 textarea:focus {
    border: 1px solid #ffb600;
    outline: 0;
}

.cfbutton {
    margin-top: 50px;
    text-align: end;
    margin-bottom: 50px;
    /* border: 1px red solid; */
    padding-right: 160px;
    width: 90%;

}

.cfbutton a {

    text-decoration: none;
    background: #ffb600;
    border: 0;
    border-radius: 3px;
    padding: 12px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    transition: 350ms;
    font-size: 14px;

}

.cfbutton a:hover {
    background: #111;
    cursor: pointer;
    transition: 0.3s;
}

/* Contactform MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container7 {
        margin: 0;
        padding: 0;
        /* border: 1px red solid; */
    }

    .cformtitle {
        width: 100%;
        /* border: 1px red solid; */
        margin: 0;
        padding: 0 10px;
    }



    .cform {}

    .cformrow1 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .cformcolumn {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .cformcolumn label {

        /* border: 1px red solid; */
    }


    .cformcolumn input {
        margin-bottom: 10px;
        /* border: 1px red solid; */
    }

    .cformrow2 {
        width: 100%;
    }

    .cformrow2 label {
        margin: 0;
        margin-bottom: 10px;
        /* border: 1px red solid; */
    }

    .cformrow2 textarea {
        width: 80%;
        margin: 0;
        padding: 0 10;
        box-sizing: border-box;
        /* border: 1px red solid; */
    }

    .cfbutton {
        padding-right: 30px;
    }

    .cfbutton a {}

}


/* Contactform End */

/* Footer Start */

.container8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #0d0d0d;
    padding: 80px 0 60px;

}

.fabout {
    width: 25%;
    /* border: 1px red solid; */
}

.fabout h3 {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid #ffb600;
}

.fabout img {
    margin-bottom: 35px;
    vertical-align: middle;
    border-style: none;
    width: 200px;
}

.fabout p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color: #999;
    padding-right: 10px;
    font-size: 15px;
    margin: 0 0 20px;
}

.fsocial ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-left: -13px;
    margin-top: 15px;
}

.fabout i {

    font-size: 16px;
    color: #999;
    padding: 10px 13px;
}

.fwroking {
    width: 24%;
    /* border: 1px red solid; */
}

.fwroking h3 {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid #ffb600;
    font-family: 'Montserrat', sans-serif;
}

.workinginfo {
    padding-right: 10px;
    color: #999;
    font-size: 15px;

    /* padding-left: 5px; */
}

.workinginfo span {
    text-align: right;
    float: right;
}

.fservices {
    width: 25%;
    /* border: 1px red solid; */
}

.fservices h3 {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid #ffb600;
    font-family: 'Montserrat', sans-serif;
}

.serviceslist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #999;
}

.serviceslist li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding: 8px 0;
    font-size: 15px;
}

.serviceslist i {
    color: #747474;

    margin-right: 10px;

    font-size: 16px;
    font-weight: bold;
}

.serviceslist li:hover {

    color: #ffb600;
    cursor: pointer;
    transition: 0.3s;

}

/* Footer MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container8 {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        /* margin: 0; */
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        /* border: 1px red solid; */
    }

    .fabout {
        width: 90%;
        margin-top: 50px;
        padding: 0px;
        box-sizing: border-box;
        margin-bottom: 40px;
        /* border: 1px red solid; */
    }

    .fwroking {
        width: 90%;
        margin-top: 20px;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 40px;
        /* border: 1px red solid; */
    }

    .fservices {
        width: 90%;
        margin-top: 20px;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 40px;
        /* border: 1px red solid; */
    }
}

/* Footer End */

/* Copyrightbar Start */

.container9 {
    background: #ffb600;
    color: #111;
    padding: 25px 0 15px;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
}

.copyrightinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.leftcp {
    padding: 25px 0;
    width: 40%;
    /* border: 1px red solid; */
    text-align: left;

    /* vertical-align: middle; */
}

.leftcp p {
    color: #111;


}

.rightcp {
    padding: 25px 20px;
    width: 40%;
    /* border: 1px red solid; */
    text-align: center;

}

.rightcp ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.rightcp li {
    padding-left: 15px;

}

.rightcp a {
    color: #111;
    background-color: transparent;
    font-size: 12px;
    text-decoration: none;
}

.fixedtopicon a {
    position: fixed;
    text-align: center;
    bottom: 30px;
    right: 30px;
    top: auto;
    z-index: 40;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    border: 0px;
    color: #ffb600;
    font-weight: 700;
    font-size: 16px;
    padding: 1;
}

.fixedtopicon i {
    color: #ffb600;
}

.copynav li:hover a {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.fixedtopicon:hover i {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;

}

/* Copyrightbar MediaQuery */

@media screen and (min-width:320px) and (max-width:480px) {
    .container9 {}

    .copyrightinfo {

        flex-direction: column;

        /* align-items: center; */
    }

    .leftcp {
        padding: 0;
        width: 100%;
        /* border: 1px red solid; */
        text-align: center;
    }

    .rightcp {
        padding: 25px 0px;
        width: 100%;
        /* border: 1px red solid; */
        text-align: center;

    }

    .rightcp ul {

        justify-content: center;
        align-items: center;
        /* border: 1px red solid; */
    }

    .rightcp li {
        padding-left: 15px;

    }

    .rightcp a {


        font-size: 12px;

    }

    .copyrightbar button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        top: auto;
        z-index: 40;

        font-size: 16px;

    }
}

/* Copyrightbar End */